<%= form_with(model: autonomous_community, local: true) do |form| %>
  <% if autonomous_community.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(autonomous_community.errors.count, "error") %> prohibited this autonomous_community from being saved:</h2>

      <ul>
        <% autonomous_community.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :Country_id %>
    <%= form.text_field :Country_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
