<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @autonomous_community.name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @autonomous_community.Country_id %>
</p>

<%= link_to 'Edit', edit_autonomous_community_path(@autonomous_community) %> |
<%= link_to 'Back', autonomous_communities_path %>
